<app-loading *ngIf="loadingArtist"></app-loading>
<div class="rowa animated fadeIn" *ngIf="!loadingArtist">
    <div class="col-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle">
    </div>
        <div class="col">
            <h3>{{ artista.name }}</h3>
            <p>
                <a [href]="artista.external_urls.spotify" target="_blank">
                    Ir a la página del artista
                </a>
            </p>
        </div>
        <div class="col-4">
            <button routerLink="/home" class="btn btn-outline-primary">
                Back to home
            </button>
            <button routerLink="/search" class="btn btn-outline-danger">
                Back to search
            </button>
        </div>
        
</div>

<div class="row m-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th style="color:white;">Foto</th>
                    <th style="color:white;">Album</th>
                    <th style="color:white;">Canción</th>
                    <th style="color:white;">Vista previa</th>
                </tr> 
            </thead>

            <tbody>
                <tr *ngFor="let tracks of topTracks" >
                    <td style="color:white;">
                        <img [src]="tracks.album.images | noimage" class="img-thumb">
                    </td>
                    <td style="color:white;">{{ tracks.album.name }}</td>
                    <td style="color:white;">{{ tracks.name }}</td>
                    <td style="color:white;">
                        <iframe [src]="tracks.uri | domseguro"
                                frameborder="0" 
                                allowtransparency="true" 
                                ></iframe>
                        <!-- <audio [src]="tracks.preview_url" controls></audio> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>